<body>
<div>
  <div class="row">

        <div class="col-sm-6 col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Difficulty:</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" (change)="selectDifficulty($event.target.value)" >
              <option selected>All</option>
              <option >Easy</option>
              <option >Meduim</option>
              <option >Hard</option>

            </select>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Topic:</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" (change)="selectTopic($event.target.value)">
              <option selected>All</option>
              <option>Algorithms</option>
              <option>Arrays</option>
              <option >Dates</option>
              <option >Classes</option>
              <option >Booleans</option>
              <option >Conccurency</option>
              <option >Files</option>
            </select>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Status:</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" (change)="selectStatus($event.target.value)">
              <option selected>All</option>
              <option >In progress</option>
              <option >Unlocked</option>
              <option >Completed</option>
              <option >Locked</option>
            </select>
          </div>
        </div>
    </div>

<div class="row">

        <div class="col-sm-6 col-md-4" *ngFor="let exercise of newData" >
            <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="//placehold.it/200" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{exercise.title}}</h5>
                          <p class="card-text">{{exercise.difficulty}}</p>
                          <p class="card-text" *ngFor="let topic of exercise['topics']"><small class="text-muted">{{topic.name}}</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
</div>
</div>




</body>